<select name="{{ widget.name }}" {% for name, value in widget.attrs.items %}{% if value is not False %} {{ name }}{% if value is not True %}="{{ value|stringformat:'s' }}"{% endif %}{% endif %}{% endfor %}>
</select>

{% autoescape off %}
<script>
const regions = JSON.parse(`{{ regions }}`)

const region_select = document.getElementById('id_region');
const district_select = document.getElementById('id_district');

function update_districts() {
  const selected = region_select.value - 1;
  district_select.innerHTML = '<option value="">---------</option>';
  if (regions[selected] && regions[selected]['districts']) {
      regions[selected]['districts'].forEach(state => {
      const option = document.createElement('option');
      option.value = state;
      {% if widget.value %}
      if ("{{ widget.value }}" == state){
        option.selected = true
      }
      {% endif %}
      option.textContent = state;
      district_select.appendChild(option);
    });
  }
};
update_districts();
region_select.addEventListener('change', update_districts);
</script>
{% endautoescape %}