{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cpfed</title>
    {% tailwind_css %}
</head>
<header>
    <div class="bg-blue-500 text-white border-gray-200 px-4 lg:px-6 py-2.5 py-6">
        <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl text-l">
            <div>
                {% if user.id is not None %}
                <p>Hello, {{ user.handle }}!</p>
                {% endif %}
            </div>
            <div class="flex items-center space-x-4">
                {% if user.id is not None %}
                <p><a href="/logout">Log out</a></p>
                {% else %}
                <p><a href="/login">Log in</a></p>
                <p><a href="/register">Register</a></p>
                {% endif %}
            </div>
        </div>
    </div>
</header>


<body>

{% if error %}
<p>{{error}}</p>
{% endif %}

{% block content %}
{% endblock %}
</body>

</html>