{% extends 'base_form.html' %}
{% load i18n %}

{% block form_addition_before_button %}
<div>
    <p class="text-sm mb-2">
        {% blocktranslate %}Отмечая место расположения учебного заведения или работы, Вы можете претендовать на региональную квоту при прохождении в финал Чемпионата. Более подробная информация в <a href="https://drive.google.com/file/d/1SUViRvUiOa_Onpq32CLzRaLuU73YDXfq/view" class="text-blue-600">регламенте</a>{% endblocktranslate %}
        <br/>
        {% translate "Обратите внимание, что для верификации принадлежности к региону необходимо будет предоставить справку со школы/ВУЗа/ работы по запросу организаторов олимпиады." %}
    </p>
    <input type="checkbox" checked="true" id="polycy_conf" onchange="document.getElementById('form_submit_button').disabled = !this.checked;" />
    <label for="polycy_conf">
        {% blocktranslate %}Согласен с политикой <a href="https://drive.google.com/file/d/1ReERKx_HgGimV-pp5n_DEMfB6-axesku/view" class="text-blue-600">конфиденциальности</a>{% endblocktranslate %}
    </label>
</div>
{% endblock %}
