{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}


<div class="m-4">
    <div class="mx-auto max-w-5xl">
        <div class="flex items-center justify-between mt-8 mb-12">
            <div class="flex flex-col justify-between space-y-4 max-w-md">
                <p class="text-blue-600 text-xl font-semibold">CPFED</p>
                <p class="text-blue-900 text-4xl font-bold">
                    {% translate "Чемпионаты и турниры — время побеждать!" %}
                </p>
                <p class="text-gray-700">
                    {% blocktranslate trimmed %}
                    Тебя ждут захватывающие турниры, где ты можешь проявить свои навыки в программировании. Прими участие в
                    чемпионатах, узнай расписание и зарегистрируйся, чтобы не упустить шанс стать лучшим!
                    {% endblocktranslate %}
                </p>
<!--                <div class="flex space-x-6 py-2">-->
<!--                    <a href="https://contest.cpfed.kz">-->
<!--                        <div class="bg-blue-600 py-2 px-6 text-gray-100 rounded-lg">{% translate "Узнать больше" %}-->
<!--                        </div>-->
<!--                    </a>-->
<!--                    <a href="{% url 'register' %}">-->
<!--                        <div class="border-blue-600 border py-2 px-6 text-blue-600 rounded-lg">-->
<!--                            {% translate "Регистрация" %}-->
<!--                        </div>-->
<!--                    </a>-->
<!--                </div>-->
            </div>
            <img src="{% static 'capybara.png' %}" alt="" class="rounded-lg object-cover h-80 w-96" height="494"
                 width="490"/>
        </div>
        <div class="my-8 text-center text-xl font-semibold">
            <p class="text-blue-900 text-4xl my-4">{% translate "Федерация спортивного программирования Казахстана CPFED" %}</p>
            <p class="font-normal">
                {% blocktranslate trimmed %}
                Наша основная цель - развивать человеческий потенциал нашей страны и всего мира через
                спортивное программирование. На данном сайте вы можете зарегистрироваться на все наши соревнования и
                стать частью сообщества спортивного программирования в Казахстане.
                {% endblocktranslate %}
            </p>
        </div>

        <div class="my-8 text-center" id="competitions">
            <p class="text-blue-900 text-4xl my-4">{% translate "Чемпионаты и конкурсы" %}</p>
            {% for contest, is_reg in contests.items %}
            <div class="flex items-center justify-between bg-gray-100 p-8 pr-4 rounded-xl m-8">
                <div class="flex space-x-6 h-min">
                    <img src="{{ contest.image_url }}" alt="" class="rounded-lg object-cover w-40 m-auto"/>
                    <div class="flex flex-col justify-between text-left h-min">
                        <div class="mx-2">
                            <div class="text-2xl font-semibold mb-2">{{ contest.name }}</div>
                            {% autoescape off %}
                            <div class="text-l font-normal mb-4">{{ contest.playing_desc }}</div>
                            {% endautoescape %}
                            <div class="mb-2">
                                {% translate "Дата" %}:
                                {% if contest.text_instead_of_date %}
                                    {{ contest.text_instead_of_date }}
                                {% else %}
                                    {{ contest.date | date:'d.m.Y H:i' }}
                                {% endif %}
                            </div>
<!--                            <div class="mb-8">{% translate "Время" %}: {{ conёtest.date | date:'H:i' }} </div>-->
                        </div>
                        <div class="flex space-x-4">
                            {% if is_reg %}
                                <div class="bg-gray-500 py-2 px-6 text-gray-100 rounded-lg">
                                    {% translate "Вы уже зарегистрированы" %}
                                </div>
                                {% if contest.link %}
                                <a href="{{ contest.get_link }}">
                                    <div class="bg-blue-600 py-2 px-6 text-gray-100 rounded-lg">
                                        {% translate "Войти на контест" %}
                                    </div>
                                </a>
                                {% elif contest.trial_contest_link %}
                                <a href="{{ contest.get_trial_link }}">
                                    <div class="bg-blue-600 py-2 px-6 text-gray-100 rounded-lg">
                                        {% translate "Войти на пробный тур" %}
                                    </div>
                                </a>
                                {% endif %}
                            {% elif contest.registration_open %}
                                {% if user.is_authenticated %}
                                <a href="{% url 'contestRegistration' contest_id=contest.id %}">
                                    <div class="bg-blue-600 py-2 px-6 text-gray-100 rounded-lg">
                                        {% translate "Зарегистрироваться на контест" %}
                                    </div>
                                </a>
                                {% else %}
                                <a href="{% url 'contest_registration_guide' contest_id=contest.id %}">
                                    <div class="bg-blue-600 py-2 px-6 text-gray-100 rounded-lg">
                                        {% translate "Зарегистрироваться на контест" %}
                                    </div>
                                </a>
                                {% endif %}
                            {% else %}
                            <div class="bg-gray-500 py-2 px-6 text-gray-100 rounded-lg">
                                {% translate "Регистрация закрыта" %}
                            </div>
                            {% endif %}
<!--                            <a href="{% url 'register' %}">-->
<!--                                <div class="border-blue-600 border py-2 px-6 text-blue-600 rounded-lg">-->
<!--                                    {% translate "Узнать больше" %}-->
<!--                                </div>-->
<!--                            </a>-->
                        </div>
                    </div>
                </div>
                {% if contest.remaining_days > 0 %}
                <div class="h-full self-start">
                    <p class="bg-white rounded-full px-4 py-2 text-nowrap">
                        {% blocktranslate count days=contest.remaining_days %}Остался {{days}} день{% plural %}Осталось {{days}} дней{% endblocktranslate %}
                    </p>
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}