{% extends 'base.html' %}
{% load i18n %}

{% load widget_tweaks %}

{% block content %}
<div class="flex flex-col items-center justify-center px-6 py-4 mx-auto">
    <div class="w-full max-w-lg">
        <div class="flex flex-col space-y-0 p-8 shadow-2xl rounded-2xl">
            <div class="flex flex-col items-center justify-center my-2">
                <p class="text-2xl font-bold text-gray-900">
                    {{ form_name }}
                </p>
            </div>
            <div class="space-y-2 text-gray-700">
                {% csrf_token %}

                {% for fld in form %}
                <div>
                    <label>{% translate fld.label %}</label>
                    {% render_field fld disabled+="" class+="rounded-lg w-full text-black border-inherit px-4 py-2 border focus:outline-none focus:border-2 focus:border-blue-500" %}
                </div>
                {% endfor %}
                <div>Изменить данные можно <a href="{% url 'contestRegistration' contest_id=1 %}" class="text-blue-500">здесь</a></div>
            </div>

        </div>
    </div>
</div>

{% endblock %}